/* Global */

body {
    font-family: 'Roboto', sans-serif;
}

.line::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.5s;
}

.section-title {
    color: #fbbd61;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    position: relative;
}

/* End Global */

/* Header */

header {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__detail i, .header__detail span {
    font-size: 14px;
}

.header__detail span {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.header__navbar .nav-item .nav-link {
    color: white;
    padding: 0 20px;
}

.header__navbar .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.header__navbar .nav-item {
    position: relative;
}

.header__navbar .nav-item:hover::after, .header__navbar .nav-item.active::after {
    width: 100%;
}

.carousel-item {
    height: 800px;
}

.myCarousel .item-1 {
    background: url("../img/hero-1.jpg") no-repeat center center;
    background-size: cover;
}

.myCarousel .item-2 {
    background: url("../img/hero-2.jpg") no-repeat center center;
    background-size: cover;
}

.myCarousel .item-3 {
    background: url("../img/hero-3.jpg") no-repeat center center;
    background-size: cover;
}

/* End header */

/*Carousel */

.carousel-item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
}

.carousel-item__caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
}

.carousel-item__caption title {
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}

.carousel-item__caption p {
    font-size: 18px;
    padding-right: 25%;
}

.carousel-item__trailer {
    display: flex;
}

.carousel-item__trailer span {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    line-height: 40px;
}

.myCarousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 50%;
}

.myCarousel .carousel-indicators {
    bottom: 50px;
}

.myCarousel .carousel-indicators li.active {
    background-color: white;
}

.carousel-item__trailerbutton {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 20px 90px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.carousel-item__trailertext {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    line-height: 40px;
}

.carousel-item__trailerbutton:hover .carousel-item__trailertext {
    opacity: 1;
}

.carousel-item__trailerbutton:hover .carousel-item__traileroverlay {
    left: -100%;
}

.carousel-item__traileroverlay {
    position: absolute;
    top: 0;
    left: -400%;
    transform: skew(45deg);
    background: #ec7532;
    width: 300%;
    height: 100%;
    transition: all 1s;
    z-index: 0;
}

/* End carousel */

/* Movie */

.movie {
    padding-top: 80px;
}

.movie__title.line::after {
    width: 160px;
}

.movie__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.movie__detail {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    width: 100%;
    text-align: center;
    transition: all 0.2s;
    opacity: 0;
}

.movie__detail i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid white;
    margin: 15px auto;
    line-height: 80px;
}

.movie__detail a {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: white;
}

.movie__detail span {
    font-size: 16px;
}

.movie__overlay {
    position: absolute;
    top: 0;
    left: -400%;
    transform: skew(45deg);
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    width: 300%;
    height: 100%;
    transition: all 0.5s;
}

.movie__item:hover .movie__overlay {
    left: -100%;
}

.movie__item:hover .movie__detail {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.movie__name {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.movie__star {
    color: #fbbd61;
}

/* End movie */

/* SHOWTIMES */

.showTimes {
    padding-top: 80px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .showTimes .nav-tabs .nav-link:hover {
    border: white;
}

.showTimes .nav-tabs .nav-link {
    position: relative;
    padding: 10px 30px;
    color: #4a4a4a;
}

.showTimes .nav-tabs .nav-link.active.line::after, .showTimes .nav-tabs .nav-link:hover.line::after {
    width: 100%;
}

.showtimes__list i, .showtimes__list span {
    font-size: 14px;
}

.showtimes__list button {
    background-color: #d8d8d8;
    padding: 3px 10px;
}

.showtimes__lenght span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

.showtimes__text h1 {
    font-size: 30px;
}

.showtimes__text span, .showtimes__text a {
    color: #ec7532;
    letter-spacing: 2px;
}

#myTabContent hr {
    margin-top: 25px;
    margin-bottom: 45px;
}

.showtimes__neartitle {
    margin-top: 40px !important;
}

/* END SHOWTIMES */

/* COMING SOON */

.coming {
    background-color: black;
}

.coming__bg {
    padding: 80px 0;
    background-image: url(../img/slide-3.png);
    background-size: cover;
    background-position: center center;
}

.coming__bg .section-title {
    color: white;
}

.coming__bg .line::after {
    width: 160px;
}

.coming__detail>span {
    font-size: 14px;
    color: #ec7532;
}

.coming__detail>h1 {
    font-size: 34px;
}

.coming__detail .fa-star {
    font-size: 14px;
    color: #fbbd61;
}

.coming__date {
    opacity: 0.75;
    font-size: 14px;
    margin-left: 10px;
}

.coming__detail a {
    color: #ec7532;
    letter-spacing: 3px;
}

.coming__trailer {
    position: relative;
}

.coming__trailer i {
    width: 84px;
    height: 84px;
    display: block;
    border: 2px solid #ec7532;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* END COMING SOON */